<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 ms-2 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2023 Event Discovery, Inc.</font></font></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-2">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
